doctype
html
  head
    // The stylesheets to include
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.4.1/pure-min.css")
    link(rel="stylesheet", href="/main.css")
    
    // Scripts to use
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-animate.min.js")
  body
    != yield
