form.pure-form(ng-submit='registerUser()')
  input(type='text', autofocusplaceholder='Username', ng-model='user.username')
  input(type='email', placeholder='Email address', ng-model='user.email')
  input(type='password', placeholder='Password', ng-model='user.password')

  input.pure-button.pure-button-primary(type='submit', value='Register')
