.dashboard
  != yield
  .tabs
    a.pure-button(href="/#/dashboard/marketplace") Marketplace
    a.pure-button(href="/#/dashboard/statistics") Statistics
    a.pure-button(href="/#/dashboard/loans") Your Loans
    a.pure-button(href="/#/dashboard/quests") Quests
