.dashboard
  .tabs
    a.pure-button(href="/#/dashboard/marketplace") 
      i.icon.ion-ios7-cart
      | Marketplace
    a.pure-button(href="/#/dashboard/statistics") 
      i.icon.ion-stats-bars
      | Statistics
    a.pure-button(href="/#/dashboard/loans") 
      i.icon.ion-pricetags
      | Your Loans
    a.pure-button(href="/#/dashboard/quests") 
      i.icon.ion-calendar
      | Quests
  != yield 
