<h1 class="item-name">Tractor</h1>
<img src="http://www.zazbot.com/wp-content/uploads/2008/01/massey-furgeson-tractor-supply.jpg" class="item-pic">
<p class="item-desc">Flop over shake treat bag, throwup on your pillow yet climb leg, all of a sudden go crazy stretch. Cat snacks sweet beast behind the couch cat snacks intrigued by the shower destroy couch missing until dinner time. Intently sniff hand. Under the bed throwup on your pillow sun bathe. Why must they do that leave hair everywhere hide when guests come over. Stretch shake treat bag. Play time stare at ceiling sweet beast, but climb leg or throwup on your pillow stretch.</p>
<div class="cost-gdp">
  <p class="item-cost">500 Credits - $5.00</p>
  <p class="item-gdp">5% increase in GDP/year</p>
</div>
<div class="item-slider">
  <input type="range" ng-model="futureYears">
</div>
