h1 Statistics
.stats
  p Current Balance:
    | {{ balance }}

  h2 Projected GDP growth: 
  canvas(data="gdpGrowth", width=500, height=300, linechart)
  canvas(data="itemChart", width=500, height=300, piechart)

  table.pure-table
    tr
      th Item
      th Quantity
  
    tr(ng-repeat="itemCount in itemCounts")
      td {{ itemCount.name }}
      td {{ itemCount.count }}
