h1 Statistics
.stats
  p Current Balance:
    | {{ balance }}
 
  p Current Age:
    | {{ age | number: 1}} years

  p Future Balance:
    | <strong>{{ years | balance:city | number }}</strong> after <strong>{{ years | number }}</strong> years
    br 
    br 
    input(type="range", style="width: 500px", min=0, max=100000, ng-model="years")

  h2 Projected GDP growth: 
  canvas(data="gdpGrowth", width=500, height=300, linechart)

  h2 Item Inventory
  canvas(data="itemChart", width=500, height=300, barchart)

  table.pure-table
    tr
      th Item
      th Quantity
  
    tr(ng-repeat="itemCount in itemCounts")
      td {{ itemCount.name }}
      td {{ itemCount.count }}
