- var rand = Math.random();
doctype
html
  head
    title Elasticity
    link(href="#{'/main.css?v=' + rand}", rel="stylesheet", type="text/css")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-route/angular-route.js")

  body
    header
      h1 Elasticity
    != yield
    footer
      p
        | By James Mishra, Ari Falkner and Krish Dholakiya for Static Showdown and #hack4good.
