doctype
html
  head
    title Elasticity
    link(href="main.css", rel="stylesheet", type="text/css")
  body
    header
      h1 Elasticity
    != yield
    footer
      p
        | By James Mishra, Ari Falkner and Krish Dholakiya for Static Showdown and #hack4good.
