doctype
html(ng-app="app")
  head
    title Elasticity

    // The CSS links
    link(href="/main.css", rel="stylesheet", type="text/css")
    // Pure is imported using @import
    // Boilerplate angular files
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-route/angular-route.js")
    script(src="/bower_components/angular-resource/angular-resource.js")

    script(src="angular-main.js")
    script(src="./angular-services/cityObjects/cityObject.js") 
    script(src="./angular-services/city.js")
    script(src="./controllers/register-ctrl.js") 
    script(src="./controllers/market-ctrl.js") 
    script(src="./controllers/item-ctrl.js")
    script(src="angular-routes.js")
   
  body
    div(ng-view)
    != yield

    footer.
        By James Mishra, Ari Falkner and Krish Dholakiya for Static Showdown and #hack4good.
